@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Patrick+Hand&family=Quicksand:wght@300&family=Roboto:wght@900&family=Zen+Loop&display=swap');

.footer{
	background-image:url('../images/footer.png');
	background-size: 100% 100%;
	height: 500px;	
}

.horario{
	height: 150px;
	width: 50%;
	margin-left: 40%;
	margin-right: 10%;
	text-align: center;
	padding-top: 2%;
}

.contacto{
	height: 300px;
	width: 50%;
	margin-left: 40%;
	margin-right: 10%;
	text-align: center;
}

h2,h3{
	color: white;
	font-family: 'Roboto', sans-serif;
}

.img-telefono,.redes{
	width: 50px;
	height: 50px;
	margin-left: 10px;
}

.cont{
	margin-left: 25%;
	height: 100px;
}
.cont1,.cont2{
	float: left;
	margin-left: 10px;
}



